<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/Funcionario.css">
    <title> Cadastrar Funcioário </title>
</head>

<body>
    <div class="container">
        <center>
            <h3> Cadastro Funcionário </h3>
        </center>
        <div class="pesquisaCadastar">
            <button class="bt1" type="button"> Pesquisar </button>
            <button class="bt1" type="button"> Cadastrar </button>
        </div>
        <div class="content">
            <div class="cadastro">
                <div class="nome">
                    <label for="form-label label"> Nome completo </label>
                    <input type="text" class="form-control" id="nome">
                </div>
                <div class="cargo">
                    <label for="form-label label"> Cargo </label>
                    <input type="text" class="form-control" id="cargo">
                </div>
                <div class="status">
                    <label for="form-label label"> Status </label>
                    <input type="text" class="form-control" id="status">
                </div>
            </div>
            <div class="user">
                <center>
                    <img src="../images/user.png" alt="user">
                </center>
                <div class="button1">
                    <button> botão </button>
                    <button> botão </button>
                </div>
                <div class="button1">
                    <button> botão </button>
                    <button> botão </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>