<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário</title>
    <link rel="stylesheet" href="../styles/usuario.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="../controllers/user/userSearchController.js"></script>
    <script src="../controllers/user/userRegisterController.js"></script>
    <script src="../utils/api.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>
    <div class="container">
        <div class="card-content">
            <div class="mb-3 card-content-header">
                <h1>Cadastro de Usuário</h1>
                <div class="group-buttons ">
                    <button id="btn-group-pesquisar" type="button" class="btn btn-primary"
                        onclick="toggleButton('pesquisar')">Pesquisar</button>
                    <button id="btn-group-cadastrar" type="button" class="btn btn-secondary"
                        onclick="toggleButton('cadastrar')">Cadastrar</button>
                </div>
            </div>
            <div id="conteudo-pesquisar" class="card-content-body">
                <form class="mb-5">
                    <div>
                        <div>
                            <div>
                                <label class="form-label">Nome</label>
                                <input id="nome-usuario" type="text" class="form-control">
                            </div>
                            <div>
                                <label class="form-label">Email</label>
                                <input id="email-usuario" type="email" class="form-control">
                            </div>
                            <div>
                                <label class="form-label">Nivel</label>
                                <select id="nivel-usuario" class="form-select" aria-label="Default select example">
                                    <option selected>Nível do usuario</option>
                                    <option value="1">Administrador</option>
                                    <option value="2">Basico</option>
                                </select>
                            </div>
                            <div class="card-content-button-action">
                                <button type="button" class="btn btn-primary" onclick="getUsers()"> Pesquisar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="container-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Email</th>
                                <th scope="col">Nivel</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody id="table-usuario-content">
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="conteudo-cadastrar" class="card-content-body">
                <form class="mb-5">
                    <div>
                        <div>
                            <input id="id-user-register" type="text" class="form-control">
                            <div>
                                <label class="form-label">Nome</label>
                                <input id="name-user-register" type="text" class="form-control">
                            </div>
                            <div>
                                <label class="form-label">Email</label>
                                <input id="email-user-register" type="email" class="form-control">
                            </div>
                            <div>
                                <label class="form-label">Senha</label>
                                <input id="password-user-register" type="password" class="form-control">
                            </div>
                            <div>
                                <label class="form-label">Nivel</label>
                                <select id="level-user-register" class="form-select" aria-label="Default select example">
                                    <option selected>Nível do usuario</option>
                                    <option value="1">Administrador</option>
                                    <option value="2">Basico</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="card-content-footer">
                    <div class="card-content-button-action">
                        <button type="button" class="btn btn-primary" onclick="clearInputs()"> Limpar</button>
                    </div>
                    <div class="card-content-button-action">
                        <button type="button" class="btn btn-primary" onclick="registerUser()"> Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>