* {
    margin: 0;
}
.alert{
    position: absolute;
    width: 100%;
    /* background-color: royalblue; */
    display: flex;
    justify-content: center;
    height: 3rem;
    animation-name: slide;
    animation-duration: 2s;
    /* visibility: hidden; */
    /* animation-fill-mode: forwards; */
}

.alert > div{
    background-color: red;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes slide {
    from{
        opacity: 1;
        /* transform: translateY(-20px); */
    }

    to{
        opacity: 0;
        /* transform: translateY(0px); */
    }
}