body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.card-content{
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1rem;
}

.card-content-header{
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-content-body{
    margin: 1rem;
    width: 100%;
}

.card-content-footer{
    display: flex;
    margin: 1rem;
    justify-content: center;
}

.card-content-footer > div{
    margin: 1rem;
}

label {
    margin: 0!important;
}

form > div{
    display: flex;
}

form > div > div{
    display: flex;
    flex-wrap: wrap;
}

form > div > div > div{
    margin: 0 1rem;
}

.group-buttons{
    display: flex;
    margin: 0 1rem;
}

.card-content-button-action{
    display: flex;
    flex-direction: column-reverse;
    width: 6rem;
}

.container-table{
    margin: 1rem
}

#conteudo-pesquisar{
    display: block;
}

#conteudo-cadastrar{
    display: none;
}

#id-user-register{
    display: none;
}